/* components/Sidebar.module.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  
  .sidebar h2 {
    text-align: center;
    font-size:x-large;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    font-size: large;
    color: white;
    text-decoration: none;
    opacity: 70%;
  }
  
  .sidebar ul li a:hover {
    
    color: white;
    font-weight: bold;
    opacity: 100%;
   
   
  }
  